.container {
  margin: 0 0 0 158px;
}
.bracketLeft,
.bracketRight {
  font-size: 24px;
  line-height: 110%;
  color: #d5d4d5;
  opacity: 0.45;
}
.bracketLeft {
  margin: 14px 0 37px 40px;
}
.bracketRight {
  margin: 0 0 0 40px;
}
.data {
  height: 46px;
}
.driveIt {
  margin: 21px 0 61px 0;
  font-family: "ABC Favorit Mono";
  font-weight: 350;
  font-size: 16px;
  color: #797979;
}
