.container {
  display: flex;
  font-family: "ABC Favorit Mono";
  font-weight: 350;
  font-size: 24px;
  .toggleContainer {
    width: 21px;
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .toggle {
      position: relative;
      cursor: pointer;
      user-select: none;
      width: 21px;
      height: 21px;
      border: 1px solid #767575;
      border-radius: 2px;
      color: #767575;
      display: flex;
      justify-content: center;
      align-items: center;
      & svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      & .plus {
        transform: rotate(90deg);
      }
    }
    .line {
      height: 100%;
      width: 1px;
      background: #767575;
      &.mainLine {
        height: 82px;
      }
      &.mainLineClosed {
        display: none;
      }
      &.none {
        display: none;
      }
    }
  }

  .main {
    position: relative;
    left: -41px;
  }
}
