.service {
  max-width: 1014px;
  margin: 0 0 26px 0;
  font-family: "ABC Favorit Mono";
  font-weight: 350;
  & .title {
    font-size: 22px;
    line-height: 110%;
    margin: 0 0 12px 0;
  }
  & .paragraph {
    width: calc(100% - 252px);
    height: calc(86px - 32px);
    font-size: 14px;
    line-height: 130%;
    color: #d5d4d5;
    background: #252525;
    padding: 24px 212px 8px 38px;
    border-left: 2px solid #5e9ff1;
  }
  .button {
    cursor: pointer;
    background: none;
    border-style: none;
    margin: 0 0 0 5px;
  }
}
