.service {
  max-width: 1014px;
  margin: 0 0 26px 0;
  font-family: "ABC Favorit Mono";
  font-weight: 350;
  & .title {
    display: inline-block;
    font-size: 22px;
    line-height: 110%;
    margin: 0 0 12px 0;
    overflow: hidden;
    border-right: 2px solid transparent;
    animation: typing 2.5s steps(70, end), blink-caret 0.5s step-end 6;
    white-space: nowrap;
  }
  & .paragraph {
    width: calc(100% - 252px);
    height: calc(86px - 32px);
    font-size: 14px;
    line-height: 130%;
    color: #d5d4d5;
    background: #252525;
    padding: 24px 212px 8px 38px;
    border-left: 2px solid #5e9ff1;
  }
  .button {
    cursor: pointer;
    background: none;
    border-style: none;
    margin: 0 0 0 5px;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: var(--width);
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(189, 189, 189);
  }
}
